## Server configuration - IRC Protocol.
irc.oftc.server = irc.oftc.net
irc.oftc.channels = #amnotbot, #amnottesting
irc.freenode.server = irc.freenode.net
irc.freenode.channels = #amnotbot
irc.freenode.port = 6667

## Server configuration - XMPP Protocol.
## Uncomment and adjust the following lines to enable it.
#xmpp.jabber.server = jabber.org
#xmpp.jabber.channels = amnotbot@conference.jabber.org
#xmpp.jabber.user = youruser
#xmpp.jabber.password = yourpassword
#xmpp.jabber.resource = Home

## Nickname and nickserv configuration
nick = amtestbot
nickserv_enabled = false 
nickserv = NICKSERV
nickserv_password = yourpassword 

## Character used as command trigger
command_trigger = !

## Minimum number of characters per word to include the word in the statistics.
stats_min_word_length = 4

## Database backend used by different tasks and commands
## Available options: hsqldb and sqlite.
backend = hsqldb

## Delicious bookmarks configuration. See http://delicious.com.
delicious_user = your_delicious_user
delicious_pass = your_delicious_pass
## Maximum length of a delicious tag
delicious_max_tag_length = 30

## qurl service configuration.
## Configure the length at which the bot will shorten the URL
qurl_length = 83

## Cache size of web pages titles being cached
webpages_cache_size = 128

## Language and country
language = en
country = US

## GitHub configuration
## Add the user:repo separated by comma.
github_repos = amnotbot:amnotbot, amnotbot:amnotbot-stats-generator
## Number of commits to show per query.
github_commits = 5

## Twitter configuration
## To disable the twitter task, please, edit the tasks.config file
## and comment the line "TwitterTask".
twitter_key = bolKh59h9BSIhKEEEE3g
twitter_secret = M5cVJJ5YgCU4HWyEcYMEDrADdI60vDhmfeWjx51g
## Add your token and secret here.
twitter_token = 
twitter_token_secret =
