irc.oftc.server = irc.oftc.net
irc.oftc.channels = #amnotbot, #amnottesting
irc.freenode.server = irc.freenode.net
irc.freenode.channels = #amnotbot
irc.freenode.port = 6667
#xmpp.jabber.server = jabber.org
#xmpp.jabber.channels = amnotbot@conference.jabber.org
#xmpp.jabber.user = youruser
#xmpp.jabber.password = yourpassword
#xmpp.jabber.resource = Home
nick = amtestbot
nickserv_enabled = false 
nickserv = NICKSERV
nickserv_password = yourpassword 
command_trigger = !
stats_min_word_length = 4
backend = hsqldb
delicious_user = your_delicious_user
delicious_pass = your_delicious_pass
delicious_max_tag_length = 30
qurl_length = 83
webpages_cache_size = 128
language = en
country = US
github_repos = amnotbot:amnotbot, amnotbot:amnotbot-stats-generator
github_commits = 5
twitter_key = bolKh59h9BSIhKEEEE3g
twitter_secret = M5cVJJ5YgCU4HWyEcYMEDrADdI60vDhmfeWjx51g
twitter_token = 
twitter_token_secret =
