## Server configuration - IRC Protocol.
#irc.oftc.server = irc.oftc.net
#irc.oftc.channels = #amnotbot, #amnottesting
#irc.oftc.ssl = false
ircv3.freenode.server = ${env:AMNOTBOT_SERVER}
ircv3.freenode.channels = ${env:AMNOTBOT_CHANNELS}
ircv3.freenode.port = ${env:AMNOTBOT_SERVER_PORT}
ircv3.freenode.ssl = ${env:AMNOTBOT_SERVER_SSL}

## Server configuration - XMPP Protocol.
## Uncomment and adjust the following lines to enable it.
#xmpp.jabber.server = jabber.org
#xmpp.jabber.channels = amnotbot@conference.jabber.org
#xmpp.jabber.user = youruser
#xmpp.jabber.password = yourpassword
#xmpp.jabber.resource = Home

## Nickname and nickserv configuration
nick = ${env:AMNOTBOT_NICK}

account_name = ${env:AMNOTBOT_ACCOUNT_NAME}
account_password = ${env:AMNOTBOT_ACCOUNT_PASSWORD}

nickserv_enabled = ${env:AMNOTBOT_NICKSERV_ENABLED}
nickserv = NICKSERV
nickserv_password = ${env:AMNOTBOT_NICKSERV_PASSWORD}

## Character used as command trigger
help_trigger = !help

## Minimum number of characters per word to include the word in the statistics.
stats_min_word_length = 4

## Database backend used by different tasks and commands
## Available options: hsqldb.
backend = hsqldb

## qurl service configuration.
## Configure the length at which the bot will shorten the URL
qurl_length = 83

## Cache size of web pages titles being cached
webpages_cache_size = 128

## Language and country
language = en
country = US

## GitHub configuration
## Add the user:repo separated by comma.
github_repos = ${env:AMNOTBOT_GITHUB_REPOS}
## Number of commits to show per query.
github_commits = 5

## Twitter configuration
## To disable the twitter task, please, edit the tasks.config file
## and comment the line "TwitterTask".
twitter_key = ${env:AMNOTBOT_TWITTER_KEY}
twitter_secret = ${env:AMNOTBOT_TWITTER_SECRET}
## Add your token and secret here.
twitter_token = ${env:AMNOTBOT_TWITTER_TOKEN}
twitter_token_secret = ${env:AMNOTBOT_TWITTER_TOKEN_SECRET}

## Google custom search configuration
## Please, specify your ENGINE ID and KEY in the following options
google_search_engine_id = ${env:AMNOTBOT_GOOGLE_SEARCH_ENGINE_ID}
google_search_key = ${env:AMNOTBOT_GOOGLE_SEARCH_KEY}

## Open Weather configuration
openweather_key = ${env:AMNOTBOT_OPENWEATHER_KEY}
# Unit: imperial or metric
openweather_unit = ${env:AMNOTBOT_OPENWEATHER_UNIT}
