DeliciousCommand = URL
DuckDuckGoSearchCommand = ddg
GoogleSpellingSearchCommand = sp
GoogleWebSearchCommand = g
LinesCommand = l
QuoteCommand = quote
QurlRequestCommand = URL
SpotifyCommand = spotify:*:*
UniqueWordsCommand = u
VersionCommand = version
WeatherCommand = weather
WebPageInfoCommand = URL
WordsCommand = w
