DeliciousCommand = URL
GoogleBlogsSearchCommand = blog
GoogleBookSearchCommand = b
GoogleNewsSearchCommand = n
GooglePatentSearchCommand = p
GoogleVideoSearchCommand = v
GoogleWebSearchCommand = g
LinesCommand = l
QuoteCommand = quote
QurlRequestCommand = URL
# SpellCommand = spell
WebPageInfoCommand = URL
WordsCommand = w
YahooNewsSearchCommand = news
YahooWebSearchCommand = y
