irc.oftc.server = irc.oftc.net
irc.oftc.channels = #amnotbot, #amnottesting
irc.freenode.server = irc.freenode.net
irc.freenode.channels = #amnotbot
irc.freenode.port = 6667
daemon = true
nick = amtestbot
nickserv_enabled = false
nickserv = NICKSERV
nickserv_password = yourpassword
help_trigger = !help
qurl_length = 83
webpages_cache_size = 128
language = en
country = US
